body{
    background-color: rgb(255, 182, 193);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 90vw;
    max-width: 1000px;
    top: 15vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.img{
    position: relative;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 100px;
    width: 1vw;
    height: 1vh;
    padding: 10px;
}
.down{
    position: relative;
    top: 20vh;
}
.text{
    position: relative;
    bottom: 3vh;
    text-align: center;
    font-size: 1rem;
}
.buttons{
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
    top: 1vh;
    color: black;
}
.yes{
    background-color: rgb(255, 182, 193);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    color: black;
    text-decoration: none;
    width: 10vw;
}
.no{
    background-color: rgb(255, 182, 193);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    color: black;
    text-decoration: none;
    width: 10vw;
}
.no:active{
    position: relative;
    left: 100px;
    bottom: 150px;
}